<%-include('layout/header')%>
<main
  style="
    width: 100vw;
    height: 50vh;
    background-color: green;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
  "
>
  welcome to login page
</main>

<%-include('layout/fotter')%>
