<%-include('layout/header')%>
<main
  style="
    width: 100vw;
    height: 50vh;
    background-color: rgb(73, 226, 43);
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
  "
>
  <form action="/registration" method="post">
    <label for="userName">Username</label>

    <input type="text" id="userName" name="userName" />

    <label for="password">password</label>

    <input type="password" id="password" name="password" />
    <br />
    <button style="background-color: black; color: white" type="submit">
      Registration
    </button>
  </form>
</main>

<%-include('layout/fotter')%>
