<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav
        style="
          width: 100vw;
          height: 20vh;
          background-color: blueviolet;
          text-align: center;
          font-size: 30px;
        "
      >
        <a
          style="color: white; text-decoration: none; margin-right: 20px"
          href="/home"
          >Home</a
        >
        <a
          style="color: white; text-decoration: none; margin-right: 20px"
          href="/registration"
          >Registration</a
        >
        <a
          style="color: white; text-decoration: none; margin-right: 20px"
          href="/login"
          >Login</a
        >
        <a
          style="color: white; text-decoration: none; margin-right: 20px"
          href="/profile"
          >profile</a
        >
        <a
          style="color: white; text-decoration: none; margin-right: 20px"
          href="/logout"
          >logout</a
        >
      </nav>
    </header>
  </body>
</html>
